header {
    .container {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }
    h2 {
        margin: 0;
        font-size: 24px;
        width: 100%;
        padding: 10px 16px;
        font-style: italic;
        strong {
            font-size: 20px;
            font-weight: 400;
        }
    }
    
        
    
}
